<style>
	@import url('./commons/styles/base.css');

	:host {
		flex: auto;
		display: flex;
		flex-direction: row;
	}

	h-splitter:last-child {
		display: none;
	}

	.row {
		flex: 1;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.column {
		flex: 1;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	.hidden,
	.selectable.hidden {
		display: none;
	}

	:host-context([dir=ltr]) .control-pane {
		box-shadow: 6px 0 6px 0 rgba(240, 246, 252, 0.9);
	}

	:host-context([dir=rtl]) .control-pane {
		box-shadow: -6px 0 6px 0 rgba(240, 246, 252, 0.9);
	}

	.control-pane:dir(ltr) {
		box-shadow: 6px 0 6px 0 rgba(240, 246, 252, 0.9);
	}

	.control-pane:dir(rtl) {
		box-shadow: -6px 0 6px 0 rgba(240, 246, 252, 0.9);
	}

	.control-pane {
		flex: 0 0 16em;
		overflow: hidden;
		display: flex;
		flex-direction: column;
	}

	.control-pane>.title {
		padding: 2.4em;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.control-pane .fund {
		flex: 0 0 4.2em;
		height: 4.2em;
	}

	.subpage-selector {
		flex: 1;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.selectable {
		flex: 0 1 3.2em;
		margin: 3px 0;
		display: flex;
		align-items: center;
		transition: all 200ms;
	}

	.selectable:hover {
		background-color: rgba(0, 168, 166, 0.17);
	}

	:host-context([dir=rtl]) .selectable {
		border-right: 3px solid #fff;
	}

	:host-context([dir=ltr]) .selectable {
		border-left: 3px solid #fff;
	}

	.selectable:dir(rtl) {
		border-right: 3px solid #fff;
	}

	.selectable:dir(ltr) {
		border-left: 3px solid #fff;
	}

	:host-context([dir=rtl]) .selectable.selected {
		border-right-color: var(--main-green);
	}

	:host-context([dir=ltr]) .selectable.selected {
		border-left-color: var(--main-green);
	}

	.selectable:dir(rtl).selected {
		border-right-color: var(--main-green);
	}

	.selectable:dir(ltr).selected {
		border-left-color: var(--main-green);
	}

	.selectable.selected {
		background-color: rgba(0, 168, 166, 0.17);
	}

	.selectable>.subtitle {
		padding: 0 2.4em;
		font-size: 0.85em;
		display: inline-block;
	}

	.selectable.selected>.subtitle {
		font-weight: 600;
		color: var(--main-green);
	}

	.content-container {
		flex: 1;
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	.content-pane {
		flex: 1;
		display: flex;
	}

	.content-container>.head {
		margin-top: 2px;
		flex: 0 0 24px;
		background-color: var(--default-background);
		box-shadow: -9px 6px 6px 0 rgba(240, 246, 252, 0.9);
	}

	:host-context([dir=rtl]) .content-container>.head {
		box-shadow: -9px 6px 6px 0 rgba(240, 246, 252, 0.9);
	}

	:host-context([dir=ltr]) .content-container>.head {
		box-shadow: 9px 6px 6px 0 rgba(240, 246, 252, 0.9);
	}

	.content-container>.head:dir(rtl) {
		box-shadow: -9px 6px 6px 0 rgba(240, 246, 252, 0.9);
	}

	.content-container>.head:dir(ltr) {
		box-shadow: 9px 6px 6px 0 rgba(240, 246, 252, 0.9);
	}
</style>

<div class="control-pane">
	<div class="title">
		<fund-icon class="fund" data-tie="productDetails:fund"></fund-icon>
		<v-splitter transparent clearance="8px"></v-splitter>
		<div class="column">
			<h5 class="bidi-transor">
				<span-l10n data-tie="productDetails:name"></span-l10n>
			</h5>
			<div class="ref-id subtitle bidi-transor" data-tie="productDetails:refId"></div>
		</div>
	</div>
	<select-list class="subpage-selector" data-tie="productDetails:selectedSubpage">
		<div class="selectable general" data-value="product-details-general">
			<span class="subtitle bidi-transor" data-tie="l10n:productDrillDownMain.menu.general"></span>
		</div>
		<div class="selectable" data-value="product-details-saver">
			<span class="subtitle bidi-transor" data-tie="l10n:productDrillDownMain.menu.saver"></span>
		</div>
		<div class="selectable beneficiaries" data-value="product-details-beneficiaries">
			<span class="subtitle bidi-transor" data-tie="l10n:productDrillDownMain.menu.beneficiaries"></span>
		</div>
		<div class="selectable relatives" data-value="product-details-relatives">
			<span class="subtitle bidi-transor" data-tie="l10n:productDrillDownMain.menu.relatives"></span>
		</div>
		<h-splitter></h-splitter>
		<div class="selectable employments" data-value="product-details-employments">
			<span class="subtitle bidi-transor" data-tie="l10n:productDrillDownMain.menu.employments"></span>
		</div>
		<div class="selectable savings" data-value="product-details-savings">
			<span class="subtitle bidi-transor" data-tie="l10n:productDrillDownMain.menu.savings"></span>
		</div>
		<div class="selectable deposits" data-value="product-details-deposits">
			<span class="subtitle bidi-transor" data-tie="l10n:productDrillDownMain.menu.deposits"></span>
		</div>
		<div class="selectable fees" data-value="product-details-fees">
			<span class="subtitle bidi-transor" data-tie="l10n:productDrillDownMain.menu.fees"></span>
		</div>
		<div class="selectable money-traces" data-value="money-traces">
			<span class="subtitle bidi-transor" data-tie="l10n:productDrillDownMain.menu.moneyTraces"></span>
		</div>
		<div class="selectable profees" data-value="product-details-profees">
			<span class="subtitle bidi-transor" data-tie="l10n:productDrillDownMain.menu.profitsAndFees"></span>
		</div>
		<h-splitter></h-splitter>
		<div class="selectable loans" data-value="product-details-loans">
			<span class="subtitle bidi-transor" data-tie="l10n:productDrillDownMain.menu.loans"></span>
		</div>
		<div class="selectable claims" data-value="product-details-claims">
			<span class="subtitle bidi-transor" data-tie="l10n:productDrillDownMain.menu.claims"></span>
		</div>
		<div class="selectable casses" data-value="product-details-casses">
			<span class="subtitle bidi-transor" data-tie="l10n:productDrillDownMain.menu.futureValues"></span>
		</div>
		<div class="selectable insurances" data-value="product-details-insurances">
			<span class="subtitle bidi-transor" data-tie="l10n:productDrillDownMain.menu.insurances"></span>
		</div>
	</select-list>
</div>
<div class="content-container">
	<div class="head"></div>
	<switchable-pane class="content-pane" data-tie="productDetails:selectedSubpage"></switchable-pane>
</div>