@font-face {
	font-family: MiqraFont;
	src: url(fonts/sbl_hebrew.woff2);
}

html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: Tahoma, sans-serif;
	display: flex;
	flex-direction: column;
}

header {
	height: 32px;
	display: flex;
	align-items: center;
}

footer {
	height: 32px;
	display: flex;
	align-items: center;
}

section#content {
	height: 100%;
	display: flex;
	justify-content: center;
	overflow: hidden;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
}